$background: linear-gradient(#fa709a, #fee140);
$primarycolor: lightblue;
$fontsize: 1.4rem;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: $fontsize;
    margin: 0%;
}

.header {
    position: relative;
    padding: 5px;
    margin: 5px;
    background-color: white;
    height: 500px;
    width: auto;

    &__image1 {
        position: absolute;
        max-width: 100%;
        height: auto;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
    }
}

.main {
    background: rgb(238,174,202);
    background: linear-gradient(340deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

    &__part1 {
        padding: 10% 15%;
    }

    &__part2 {
        text-align: right;
        padding: 10% 15%;
    }

    &__part3 {
        padding: 10% 15%;
    }

}

.navbar {
    position: relative;
    bottom: 0px;
    background-color: teal;
    font-size: 50px;

    ul {
        height:auto;
        padding: 8px 0px;
        margin: 0px;
        display:flex;
        justify-content: space-evenly;
        list-style-type: none;

        li {
            display: inline-block;
            padding: 20px;
        }

        a {
            text-decoration: none;
        }
    }
}

.footer {
    background-color: grey;
    bottom: 0;
    height: 100px;

    .tothetop {
        position: fixed; 
        bottom: 20px; 
        left: 5%;
        z-index: 2;
        border-color: white; 
        background-color: transparent;
        color: white; 
        cursor: pointer; 
        padding: 15px; 
        border-radius: 10px; 
        font-size: 18px; 

        &:hover {
            background-color: #555; 
        }
    }

    .goodbye {
        padding: 0;
        margin: 0;
        text-align: center;
    }
}






